<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Reset Password Email Template</title>
    <meta name="description" content="Recuperar contraseña">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto" width="100%" border="0"
                   align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <a href="#" title="logo" target="_blank">
                            <img width="90" src="https://res.cloudinary.com/di4wu7js0/image/upload/v1654203470/logo_small_wadgom.png" title="logo" alt="logo">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                               style="max-width:670px;background:#fff; border-radius:30px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1
                                            style="color:#F25D50; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                        Ha solicitado restablecer su contraseña </h1>
                                    <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                    <h1
                                            style="color:#1e1e2d; font-weight:500; margin:0;font-size:25px;font-family:'Rubik',sans-serif;">
                                        Hola <span th:text="${name}"></span></h1>
                                    <br>
                                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                        Si no has solicitado este cambio, puedes ignorar este correo electrónico.
                                        Estás recibiendo este correo electrónico porque has solicitado un cambio de
                                        contraseña para tu perfil con 👉 username:
                                        <span style="color:#F25D50; font-weight: 800;" th:text="${username}"></span> en
                                        FastFoodApp; para elegir una nueva contraseña y completar tu solicitud, sigue el
                                        siguiente enlace:
                                    </p>
                                    <a th:href="@{${token}}"
                                       style="background:#F25D50;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Restablecer
                                        contraseña</a>
                                    <br><br>
                                    <h3>Redes Sociales</h3>
                                    <a href="">
                                        <img src="https://res.cloudinary.com/di4wu7js0/image/upload/v1658605017/logo-facebook_gzouee.png" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://res.cloudinary.com/di4wu7js0/image/upload/v1658605017/logo-instagram_zefefb.png" alt="">
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p
                                style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            &copy; <strong>www.fastfoodapp.com</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>